/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans-jsa {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk-sgrot {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* BASE STYLES */

body {
    background-color: rgb(54, 57, 63);
    padding-top: 60px;
}

.desktop-chat widgetbot {
    margin-left: auto;
    margin-right: auto;
}

.mobile-chat {
    display: none;
}

/* MEDIA QUERIES */

@media (max-width: 650px) {
    body {
        padding-top: 120px;
    }

    .header__content {
        flex-direction: column;
        padding: 25px 0;
        row-gap: 18px;
    }

    .nav__list {
        column-gap: 20px;
    }

    .mobile-chat {
        display: block;
    }
    .desktop-chat {
        display: none;
    }
}