/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans-jsa {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk-sgrot {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* BASE STYLES */

body {
    background-color: #e8f0f7;
    padding-top: 60px;
}

section .section__title {
    display: flex;
    padding: 24px 10px 24px 10px;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.section__title h1 {
    font-family: 'sgrot', sans-serif;
    text-align: center;
}

.section__title p {
    text-align: center;
    margin-top: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

section .section__app {
    display: flex;
    padding: 24px 0 24px 0;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.section__app widgetbot {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 45vh;
}

/* MEDIA QUERIES */

@media (max-width: 650px) {
    body {
        padding-top: 120px;
    }

    .header__content {
        flex-direction: column;
        padding: 25px 0;
        row-gap: 18px;
    }

    .nav__list {
        column-gap: 20px;
    }
}