section .container {
    display: flex;
    flex-direction: column;
    margin: 24px 0 24px 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.container .meme-holder {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    padding: 5px;
    width: 750px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
}

.meme-holder h2 {
    text-align: center;
    margin-top: 10px;
}

.meme-holder p {
    margin-top: 24px;
    text-align: center;
}

.meme-holder .meme-img {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    border: 4px solid black;
}

@media (min-width: 1400px) {
    section .container {
        margin: auto;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .container .meme-holder {
        width: 768px;
    }
    .meme-holder h2 {
        font-size: 26px;
    }
    .meme-holder p {
        font-size: 20px;
    }
    .meme-holder .meme-img {
        width: 90%;
    }
    
}

@media (max-width: 1400px) {
    section .container {
        margin: auto;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .meme-holder h2 {
        font-size: 26px;
    }
    .meme-holder p {
        font-size: 20px;
    }
    .meme-holder .meme-img {
        width: 90%;
    }
    .container .meme-holder {
        width: 768px;
    }
}

@media (max-width: 1200px) {
    section .container {
        margin: auto;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .meme-holder h2 {
        font-size: 26px;
    }
    .meme-holder p {
        font-size: 19px;
    }
    .container .meme-holder {
        width: 768px;
    }
    .meme-holder .meme-img {
        width: 90%;
    }
}

@media (max-width: 992px) {
    section .container {
        margin: auto;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .meme-holder h2 {
        font-size: 26px;
    }
    .container .meme-holder {
        width: 768px;
    }
    .meme-holder p {
        font-size: 16px;
    }
    .meme-holder .meme-img {
        width: 90%;
    }
}

@media (max-width: 768px) {
    section .container {
        margin: auto;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .meme-holder h2 {
        font-size: 26px;
    }
    .meme-holder p {
        font-size: 16px;
    }
    .container .meme-holder {
        width: 576px;
    }
    .meme-holder .meme-img {
        width: 90%;
    }
}

@media (max-width: 576px) {
    section .container {
        margin: auto;
        padding: 0 10px;
    }
    .container h1 {
        font-size: 21px;
    }
    .meme-holder h2 {
        font-size: 24px;
    }
    .meme-holder p {
        font-size: 16px;
    }
    .container .meme-holder {
        width: 90%;
    }
    .meme-holder .meme-img {
        width: 90%;
    }
}

