/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgr-light: rgb(232, 240, 247);

    --clr-light: rgb(0, 0, 0);

    --brdr-light: rgb(0, 0, 0);

    --btn-light: rgb(0, 0, 0);
    --btn-clr-light: rgb(255, 255, 255);
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans-jsa {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk-sgrot {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* BASE STYLES */

body {
    background-color: var(--bgr-light);
    padding-top: 60px;
}

section .section__fact-holder {
    display: flex;
    padding: 24px 0 24px 0;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: var(--clr-light);
}

.section__fact-holder h1 {
    font-family: 'sgrot', sans-serif;
    text-align: center;
}

.section__fact-holder p {
    text-align: center;
    margin-top: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.section__two {
    display: flex;
    padding: 24px 0 24px 0;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

section .section__school-menu {
    display: flex;
    padding: 24px 0 24px 0;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: var(--clr-light);
}

.section__school-menu h1[class="data-wrapper__date"] {
    font-family: 'sgrot', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: none;
}

.section__school-menu h1 {
    font-family: 'sgrot', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600;
}

.section__school-menu .grid__data-wrapper h1:not(:nth-child(1)) {
    font-family: 'sgrot', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: 600;
}

.section__school-menu p {
    font-family: 'sgrot', sans-serif;
    text-align: center;
}

.section__school-menu .main-wrapper {
    display: grid;
    grid-template-columns: 400px 400px;
}

.grid__data-wrapper {
    display: flex;
    padding: 8px 0 24px 0;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: auto;
    margin-right: 6px;
    margin-bottom: 8px;
    margin-left: 6px;
    border: 4px solid var(--brdr-light);
}

section .section__random-meme,
.section__random-meme .main-wrapper,
.main-wrapper .meme-wrapper {
    display: flex;
    padding: 8px 0 24px 0;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

section .section__random-meme {
    align-items: center;
    justify-content: center;
    color: var(--clr-light);
}

.section__random-meme .main-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 560px;
    height: auto;
}

.main-wrapper .meme-wrapper {
    border: 4px solid var(--brdr-light);
    padding: 24px 24px;
}

.meme-wrapper img {
    border: 4px solid var(--brdr-light);
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.section__random-meme .main-wrapper h1 {
    font-family: 'sgrot', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.main-wrapper .meme-wrapper p {
    font-family: 'sgrot', sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    color: #e8f0f7;
    visibility: hidden;
}

.main-wrapper button {
    border: none;
    border-radius: 6px;
    background-color: var(--btn-light);
    width: 30%;
    height: 36px;
    color: var(--btn-clr-light);
    font-family: "jsa", sans-serif;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: auto;
}

.main-wrapper button:hover {
    opacity: 0.9;
}

/* MEDIA QUERIES */

@media (max-width: 1390px) {
    .section__two {
        flex-direction: column;
        padding: 0 0 24px 0;
    }
}

@media (max-width: 800px) {
    .section__school-menu .main-wrapper {
        grid-template-columns: 300px 300px;
    }
}

@media (max-width: 650px) {
    body {
        padding-top: 120px;
    }

    .header__content {
        flex-direction: column;
        padding: 25px 0;
        row-gap: 18px;
    }

    .nav__list {
        column-gap: 20px;
    }

    section .section__school-menu {
        margin-top: 0;
    }

    .section__two {
        padding: 10px 0 0 0;
    }

    .section__random-meme .main-wrapper {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .section__school-menu .main-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-height: 667px) {
    section .section__random-meme,
    .section__random-meme .main-wrapper,
    .main-wrapper .meme-wrapper {
        padding: 0 0 24px 0;
    }
    section .section__fact-holder {
        padding: 0 0 5px 0;
    }
}